body {
    font-family:Arial, Helvetica, sans-serif;
}


/*  ==--==--==--==--== 
    Login Form Design
    ==--==--==--==--==  */

.loginformcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.loginform {
    border: 1px solid skyblue;
    padding: 50px;
}

.loginform input {
    padding: 10px;
    border: 2px solid skyblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginform input[type="submit"] {
    width: 100%;
    background-color: skyblue;
}

